<filter>
  <access-lists xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-acl-oper">
    <access-list>
      <access-control-list-name>{{ acl_name }}</access-control-list-name>
      <access-list-entries>
        <access-list-entry>
          <rule-name>{{ ace_number }}</rule-name>
        </access-list-entry>
      </access-list-entries>
    </access-list>
  </access-lists>
</filter>
