<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <ip>
      <access-list>
        <extended xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-acl">
          <name>{{ acl_name }}</name>
          {% for ace in aces -%}
          {% if ace.action == "deny" -%}
          <access-list-seq-rule>
            <sequence>{{ ace.seq }}</sequence>
            <ace-rule>
              <action>deny</action>
              <protocol>{{ ace.protocol }}</protocol>
              <any/>
              <dest-ipv4-address>{{ ace.dst_prefix }}</dest-ipv4-address>
              <dest-mask>{{ ace.dst_wildcard }}</dest-mask>
            </ace-rule>
          </access-list-seq-rule>
          {% else %}
          <access-list-seq-rule>
            <sequence>{{ ace.seq }}</sequence>
            <ace-rule>
              <action>deny</action>
              <protocol>{{ ace.protocol }}</protocol>
              <any/>
              <dest-ipv4-address>{{ ace.dst_prefix }}</dest-ipv4-address>
              <dest-mask>{{ ace.dst_wildcard }}</dest-mask>
            </ace-rule>
          </access-list-seq-rule>
         {% endif -%}
        {% endfor -%}
        </extended>
      </access-list>
    </ip>
  </native>
</config>